resources/1kg/EUR.chr22.pos.ser.gz filter=lfs diff=lfs merge=lfs -text
resources/1kg/EUR.chr13.pos.ser.gz filter=lfs diff=lfs merge=lfs -text
resources/1kg/EUR.chr15.gnt.ser.gz filter=lfs diff=lfs merge=lfs -text
resources/1kg/EUR.chr8.pos.ser.gz filter=lfs diff=lfs merge=lfs -text
resources/1kg/EUR.chr2.pos.ser.gz filter=lfs diff=lfs merge=lfs -text
resources/1kg/EUR.chr17.pos.ser.gz filter=lfs diff=lfs merge=lfs -text
resources/1kg/EUR.chr16.pos.ser.gz filter=lfs diff=lfs merge=lfs -text
resources/1kg/EUR.chr10.pos.ser.gz filter=lfs diff=lfs merge=lfs -text
resources/1kg/EUR.chr2.gnt.ser.gz filter=lfs diff=lfs merge=lfs -text
resources/gwas/EUR.CARDIoGRAM_2010_lipids.HDL_ONE.txt filter=lfs diff=lfs merge=lfs -text
resources/gwas/GIANT_HEIGHT_Wood_et_al_2014_pvals.txt filter=lfs diff=lfs merge=lfs -text
resources/1kg/EUR.chr9.gnt.ser.gz filter=lfs diff=lfs merge=lfs -text
resources/1kg/EUR.chr20.pos.ser.gz filter=lfs diff=lfs merge=lfs -text
resources/1kg/EUR.chr7.gnt.ser.gz filter=lfs diff=lfs merge=lfs -text
resources/1kg/EUR.chr1.gnt.ser.gz filter=lfs diff=lfs merge=lfs -text
resources/1kg/EUR.chr4.pos.ser.gz filter=lfs diff=lfs merge=lfs -text
resources/1kg/EUR.chr15.pos.ser.gz filter=lfs diff=lfs merge=lfs -text
resources/1kg/EUR.chr17.gnt.ser.gz filter=lfs diff=lfs merge=lfs -text
resources/1kg/EUR.chr11.pos.ser.gz filter=lfs diff=lfs merge=lfs -text
resources/1kg/EUR.chr11.gnt.ser.gz filter=lfs diff=lfs merge=lfs -text
resources/1kg/EUR.chr12.gnt.ser.gz filter=lfs diff=lfs merge=lfs -text
resources/1kg/EUR.chr14.gnt.ser.gz filter=lfs diff=lfs merge=lfs -text
resources/1kg/EUR.chr21.pos.ser.gz filter=lfs diff=lfs merge=lfs -text
resources/gwas/EUR.CARDIoGRAM_2010_lipids.HDL_ONE.txt.out filter=lfs diff=lfs merge=lfs -text
resources/1kg/EUR.chr5.pos.ser.gz filter=lfs diff=lfs merge=lfs -text
resources/1kg/EUR.chr20.gnt.ser.gz filter=lfs diff=lfs merge=lfs -text
resources/genesets/msigdb/msigBIOCARTA_KEGG_REACTOME.gmt filter=lfs diff=lfs merge=lfs -text
resources/1kg/EUR.chr6.pos.ser.gz filter=lfs diff=lfs merge=lfs -text
resources/1kg/EUR.chr6.gnt.ser.gz filter=lfs diff=lfs merge=lfs -text
resources/genesets/msigdb/msigdb.v4.0.entrez.gmt filter=lfs diff=lfs merge=lfs -text
resources/gwas/HDL_chr22_only_pval filter=lfs diff=lfs merge=lfs -text
resources/annotation/hla/hlaGenesEntrezIds.txt filter=lfs diff=lfs merge=lfs -text
resources/annotation/hla/hlaRegion.bed filter=lfs diff=lfs merge=lfs -text
resources/1kg/EUR.chr5.gnt.ser.gz filter=lfs diff=lfs merge=lfs -text
resources/annotation/bed/gene_coord.bed filter=lfs diff=lfs merge=lfs -text
resources/1kg/EUR.chr16.gnt.ser.gz filter=lfs diff=lfs merge=lfs -text
resources/1kg/EUR.chr22.gnt.ser.gz filter=lfs diff=lfs merge=lfs -text
resources/1kg/EUR.chr21.gnt.ser.gz filter=lfs diff=lfs merge=lfs -text
resources/1kg/EUR.chr14.pos.ser.gz filter=lfs diff=lfs merge=lfs -text
resources/1kg/EUR.chr18.pos.ser.gz filter=lfs diff=lfs merge=lfs -text
resources/1kg/EUR.chr9.pos.ser.gz filter=lfs diff=lfs merge=lfs -text
resources/annotation/ucsc/ucsc_known_genes_2013-09-03.txt filter=lfs diff=lfs merge=lfs -text
resources/1kg/EUR.chr12.pos.ser.gz filter=lfs diff=lfs merge=lfs -text
resources/1kg/EUR.chr10.gnt.ser.gz filter=lfs diff=lfs merge=lfs -text
resources/1kg/EUR.chr3.pos.ser.gz filter=lfs diff=lfs merge=lfs -text
resources/gwas/GIANT_HEIGHT_Wood_et_al_2014_publicrelease_HapMapCeuFreq.txt filter=lfs diff=lfs merge=lfs -text
resources/1kg/EUR.chr19.pos.ser.gz filter=lfs diff=lfs merge=lfs -text
resources/1kg/EUR.chr18.gnt.ser.gz filter=lfs diff=lfs merge=lfs -text
resources/1kg/EUR.chr4.gnt.ser.gz filter=lfs diff=lfs merge=lfs -text
resources/gwas/EUR.CARDIoGRAM_2010_lipids.HDL_ONE.txt.err filter=lfs diff=lfs merge=lfs -text
resources/1kg/EUR.chr19.gnt.ser.gz filter=lfs diff=lfs merge=lfs -text
resources/1kg/EUR.chr3.gnt.ser.gz filter=lfs diff=lfs merge=lfs -text
resources/1kg/EUR.chr8.gnt.ser.gz filter=lfs diff=lfs merge=lfs -text
resources/1kg/EUR.chr1.pos.ser.gz filter=lfs diff=lfs merge=lfs -text
resources/1kg/EUR.chr13.gnt.ser.gz filter=lfs diff=lfs merge=lfs -text
resources/1kg/EUR.chr7.pos.ser.gz filter=lfs diff=lfs merge=lfs -text
